body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#cx1 {
    border: 3px solid;
    text-align: center;
    width: 400px;
}

#idade {
    text-align: center;
}

#cx2 {
    border: 3px solid;
    text-align: center;
    width: 400px;
    height: 250px;
}

#bt {
    text-align: left;
}