
#cx1 {
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

#cx2 {
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}